table{
 border: 1px solid #c0c0c0;
 border-collapse: collapse;
}
td,th{
  padding:5px;
  border: 1px solid #fff;
}
th {
  background: #000;
  color: green;

}
td {
  background-color:silver;
  color: red;
}
