<td>{{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.fiscalcode}}</td>
<td>{{user.email}}</td>
<td>{{user.phone}}</td>
<td>{{user.province}}</td>
<td>{{user.age}}</td>
<td class="buttons">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="showUserDetail()">
        <fa name="info" fixed="true" ></fa>
      </button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary btn-sm" (click)="updateUser()">
        <fa name="pencil"></fa>
      </button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-danger  btn-sm" (click)="deleteUser()">
        <fa name="trash-o"></fa>
      </button>
    </div>


  </div>
</td>
