td{
  padding:5px;
  border: 1px solid #fff;
  background-color:silver;
  color: red;
}
button{
  padding: 5px;
  border: 1px solid #222;
  width:80px;
}
button.delete{
  background: #fff;
  color:red;
}